@font-face {
    font-family: 'tofinobold_personal';
    src: url('tofino-boldpersonal-webfont.woff2') format('woff2'),
         url('tofino-boldpersonal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'tofinomedium_personal';
    src: url('tofino-mediumpersonal-webfont.woff2') format('woff2'),
         url('tofino-mediumpersonal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Colour Palette 

    --gunmetal: #252d2b;
    --mid-grey: #7e8482;
    --asparagus: #629045;
    --evergreen: #165022;
    --saffron: #da6a00;
    
*/
:root{
    --gunmetal: #252d2b;
    --mid-grey: #7e8482;
    --asparagus: #629045;
    --evergreen: #165022;
    --saffron: #da6a00;
}
/* Utility Classes */
.inner-container {
    padding: 2.5rem 1rem;
    /* margin: auto;
    max-width: 80rem; */
    width: min(100%, 80rem);
    margin-inline: auto;
}
img {
    max-inline-size: 100%;
    block-size: auto;
  }
h1{
    font-size: 1.5rem;
    font-family: 'tofinomedium_personal',sans-serif;
    white-space: nowrap;
}
h2{
   font-size: 5.625rem;
   color: #fff; 
   text-align: center;
   margin-bottom: 3rem;
   font-family: 'tofinobold_personal',sans-serif;
   line-height: 1;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sr-only {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

header .inner-container {
    padding: 1rem;
}
/* Typography */
body {
    background-color: #fff;
    color: var(--gunmetal);
    font-family: 'tofinomedium_personal', sans-serif;
}
a {
    color: #fff;
    text-decoration: none;
    display: block;
}
p{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-family: 'Merriweather Sans', sans-serif;
}
ul li { 
    list-style: none;
    line-height: 2;
}
ul li,
.first-link{text-align: end;}
.btn a{display: unset;}
.btn{
    text-align: center;
    background-color:var(--gunmetal);
    color: #fff;
    padding:1rem;
    margin-bottom: 2rem;
    border-radius: 1.438rem ;
    width: 184px;
    cursor: pointer;
    align-self: flex-end;
    transition: all 0.5s ease;
}
.btn:hover{background-color: var(--saffron);}
/* Header & Navigation */
header {background-color: var(--gunmetal);}
.menu-icon{cursor: pointer;}
.menu-icon span{
  display: block;
  width: 1.125rem;
  height: 0.125rem;
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}
.menu-icon:hover span{background-color: var(--saffron);}
.menu-icon span:nth-last-of-type(2){width: 0.625rem;}
.first-link {
    font-size: 1.125rem;
    align-items: center;
    margin-bottom: 1rem;
    white-space: nowrap;
}
.first-link svg {
    width: 1rem;
    margin-left: 0.5rem;  
}
.first-link svg{ display: none;}

nav li a:hover,
h1 a:hover{
    color: var(--asparagus);
    transition: all 0.5s ease-in-out;
}
.dropdown-menu {
    margin-bottom: 2.5rem;
    font-size: 1.125rem;
    white-space: nowrap;
    list-style: none;
    font-family: 'Merriweather Sans', sans-serif;
}
nav{
    position: absolute;
    background-color: var(--gunmetal);
    width: 100vw;
    left: 0;
    max-height: 0 ; 
    overflow: hidden;
    transition: max-height 0.2s ease;
    z-index: 100;
}
.main-menu > li{position: relative;}
.show-nav{max-height: 100vh;}
.main-menu{
    padding: 1rem;
    margin: 0;
}
/* main content */

/* tiny living */
.tiny-living h2 span {
    display: block;
    text-align: left;
    color: var(--evergreen);
}
.tiny-living{ 
    margin-top: 3rem;
    margin-bottom: 4.188rem;
    background-color: var(--mid-grey);
}
.tiny-living div{
    display: flex;
    flex-direction: column;
}
/* Going green  */
.going-green{
    padding: 1rem;
    margin-bottom: 15rem;
}
.going-green h2 span{
    display: block;
    text-align: left;
    color: var(--gunmetal);
}
.photo-container{
    height: calc(15rem + 35vw);
    max-height: 8rem;
    max-width: 13rem;
    position: relative;
}
.photo-container img{position: absolute;}
.photo-container img:first-of-type{
    left: 42%;
    top: 1rem;
}
.photo-container img:last-of-type{
    top: 100%;
}
.going-green h2{
    color: var(--asparagus);
    max-width: 24.438rem;
}
/* Recent articles */
.heart h2 svg{
    fill: red;
    width: 2.188rem;
    position: absolute;
}
.heart h2{
    color: var(--gunmetal);
    font-size: 4.5rem;
    position: relative;
    text-align: start;
    padding-left: 2rem;
}
.card-container{
    padding: 1rem;
    display: flex ;
    flex-flow: wrap;
    justify-content: space-between;
}
.card img{
    background-color: var(--gunmetal);
    padding: 1.5rem 1rem 4.063rem 1rem ;
}
.card div h3{
    font-size: 2.625rem;
    color: var(--asparagus);
}
.card div{
    position: relative;
    bottom: 4.5rem;
    padding: 0.5rem;
}
.card h3 span{display: block;}
.card a{
    font-size: 1rem;
    color: var(--gunmetal);
    text-decoration: underline;
    transition: all 0.3s ease;
}
.card a:hover{
    color: var(--saffron);
    cursor: pointer;
}
/* the furture is green  */
.green-future{
    background-color: var(--gunmetal);
    padding: 1rem;
    margin-top: 3rem;
}
.green-future div{
    display: flex;
    flex-direction: column;
}
.green-future h2{
    text-align: end;
    font-size: 3.75rem;
    margin-top: 4.813rem;
}
.green-future p{color: #fff;}
.green-future span{color: var(--asparagus);}
.btn-green{
    text-align: center;
    background-color:var(--asparagus);
    color: #fff;
    padding:1rem;
    margin-bottom: 2rem;
    border-radius: 1.438rem ;
    width: 11.5rem;
    cursor: pointer;
    align-self: end;
    transition: all 0.7s ease;
}
.btn-green:hover{background-color: var(--saffron);}
.green-future img{
    margin-bottom: 4.375rem;
    margin-top: 1rem;
}
/* footer */
footer{
    background-color: var(--gunmetal);
    margin-top: 3rem;
    padding: 1rem;
}
.footer-resoures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-resoures p{ 
    color: #fff; 
    font-size: 1rem;
    cursor: pointer;
}
.footer-resoures ul,
.footer-resoures li{
    padding: 0;
    text-align: start;
}
.footer-resoures svg{
    fill: #fff;
    display: block;
    width: 1.563rem;
    height: 1.563rem;
}
.footer-resoures div{
    width: calc(100% / 2);
    padding: 0.3rem;
}
.footer-resoures div:last-of-type{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1rem;
}
.footer-resoures div:last-of-type a{
    margin-right: 0.7rem;
}
footer li a:hover,
footer p:hover,
.footer-resoures div:last-of-type svg:hover{
    color: var(--asparagus);
    fill: var(--asparagus);
    transition: all 0.5s ease;
}
@media screen and (min-width:840px){
    .tiny-living img{
        position: absolute;
        width: 25.375rem;
        left: 50%;
        top: 6.5rem;
    }
    .tiny-living h2,
    .tiny-living p{
        max-width: 40%;
    }
    .tiny-living .btn{
        align-self: start;
        margin-left: 8rem;
    }
    .going-green{
        display: flex;
        flex-direction: row;
        margin-bottom: 4rem;
    }
    .going-green .btn{
        align-self: flex-start;
        margin-top: 3rem;
    }
    .photo-container{
        width: 50%;
        margin-left: 2rem;
        margin-top: 10rem;
    }
    .photo-container img:first-of-type {
        left: 80%;
        top: 0;
    }
    .photo-container img{
        max-height: 12.313rem;
        max-width: 18.438rem;
    }
    .going-green div:first-of-type {
        display: flex;
        flex-direction: column;
        max-width: 40%;
    }
    .heart h2{
        font-size: 5.625rem; 
        text-align: center;
    }
    .green-future h2{
        font-size: 4.5rem;
        text-align: end;
        margin-top: 2rem;
    }
    .green-future h2,
    .green-future p,
    .green-future a{
        max-width: 70%;
    }
    .green-future {
        max-width: 38.313rem;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .green-future img{
        position: absolute;
        width: 50%;
        left: 33rem;
        top: 13rem;
    }
    .btn-green{align-self: center;}
    .card{width: calc(100% / 2 - 2rem);}   
    .footer-resoures div{width: calc(100% / 4);}
}
/* min-width: 1352px */
@media screen and (min-width: 1300px) {
    header .wide-flex{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    } 
    /* nav */
    h1 {font-size: 2.25rem;}
    .main-menu{padding: 0;}  
    .menu-icon{display: none;}
    nav{
        position: static;
        overflow: visible;
        max-height: 100vh;
        width: 90vh;
    }
    .first-link{
        font-size: 1.5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 1rem;
    }
    ul li,
    .first-link{
        text-align: center;
        padding: 0;
    }
    .main-menu a.first-link svg{display: unset;}
    .dropdown-menu{
        position: absolute;
        padding: 1rem;
        margin:0;
        background-color: var(--gunmetal);
        border-radius: 0 0 5px 5px;
        min-width: 100%;
        visibility: hidden; 
        /* reset/unset the ealrier proterites to enable accesiblity on larger screens */
        overflow: visible;
        max-height: unset;
        z-index: 10;
    }
    .dropdown-menu li{margin-bottom: 1rem;}
    .main-menu li:hover > .dropdown-menu{
        visibility: visible;
        opacity: 1;
    }
    .dropdown-menu li:last-of-type{margin-bottom: 0;}

    .tiny-living{margin-top: 7.625rem;}
    .tiny-living div{padding-bottom: 0;}
    .tiny-living img{top: 8rem; width: 31.25rem;}
    .tiny-living .btn{margin-top: 3rem; margin-left: 18rem;}
    .going-green{
        margin-top: 20rem;
        margin-bottom: 10rem;
    }
    .going-green div:first-of-type{margin-right: 2rem;}
    .photo-container{margin-top: 0;}
    .photo-container img{
        max-width: 30.438rem;
        max-height: 20.188rem;
    }
    .photo-container img:last-of-type{top:18rem;}
    .heart h2{font-size: 7.813rem;}
    .heart h2 svg{width: 3rem;}
    .card{width: calc(100% / 4 - 1rem);}
    .green-future {
        max-width: 61.938rem; 
        align-items: center;
        margin-left: 3rem;
    }
    .green-future img{
        left: 57rem;
        max-height: 100%;
        width: 33%;
    }
    .green-future h2{
        font-size: 7.813rem;
        margin-top: 0;
        text-align: end;
    }
    .green-future span{align-self: flex-end;}

    .green-future h2,
    .green-future p,
    .green-future a{
        max-width: 45rem;
        margin-right: 9rem;
    }
    .btn-green{align-self: end;}
    .wide{
        width: min(100%,80rem);
        margin-inline: auto;
    }

} 